@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Rubik+Iso&display=swap');
/* letters mogen niet donker zijn */
html {
    background-color: rgb(12, 1, 31);
    color: white
}

/* links met juiste kleur en zonder underline */
a {
    color: rgb(122, 107, 192);
    text-decoration: none;
}

/* links worden bold en underlined bij hover */
a:hover {
    font-weight: bold;
    text-decoration: underline;
}

a:visited {
    color: pink;
}

h2 {
    font-family: 'Chakra Petch', monospace;
}

.page-title {
    font-size: x-large;
    text-align: center;
    background-color: black;
    text-decoration: underline;
    color: red;
    font-family: 'Rubik Iso', monospace;
}

/* algemene opmaak bij de navigation bar */
.nav-bar {
    font-family: 'Chakra Petch', monospace;
    background-color: rgb(96, 23, 10);
    text-indent: 2px;
    font-size: x-large;
}

/* links bij de navigation bar */
.nav-bar-links {
    text-align: right;
    text-decoration: none;
    font-size: medium;
}

.main-content-box {
    font-family: monospace;
}