/* Imports the Chakra Petch and Rubik Iso fonts from the Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Rubik+Iso&display=swap');

/* By default text has a dark-background, so they should white */
html {
    background-color: rgb(12, 1, 31);
    color: white;
    font-family: monospace;
}

/* Links get an accent-color by default */
a {
    color: rgb(122, 107, 192);
    text-decoration: none;
}

/* Hover feedback for text-links */
a:hover {
    font-weight: bold;
    text-decoration: underline;
}

/* Visited links are pink */
a:visited {
    color: pink;
}

h1 {
    font-family: 'Rubik Iso', monospace;
}

h2 {
    font-family: 'Chakra Petch', monospace;
}

/* The big title at the beginning of every main page */
.page-title {
    font-size: x-large;
    text-align: center;
    background-color: black;
    text-decoration: underline;
    color: red;
}

/* The navigation bar at the top of every page */
.nav-bar {
    font-family: 'Chakra Petch', monospace;
    background-color: rgb(96, 23, 10);
    text-indent: 2px;
}

.main-content {
    max-width: 800px;
    margin: auto;
}